In [1]:
##1  Which keyword is used to create a function? Create a function to return a list of odd numbers in the
#range of 1 to 25.

In [ ]:
def keyword is used to create a function

In [ ]:
##2Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [2]:
total_sum = 0 
 
# Iterate through the range of numbers from 1 to 10 (inclusive) 
for number in range(1, 11): 
    # Add the current number to the sum variable 
    total_sum += number 
 
# Print the sum variable 
print("The sum of the first 10 numbers is:", total_sum)

The sum of the first 10 numbers is: 55

In [3]:
num = 10

if num < 0:
   print("Enter a positive number")
else:
   sum = 0
   # use while loop to iterate until zero
   while(num > 0):
       sum += num
       num -= 1
   print("The sum is", sum)

The sum is 55

In [4]:
##3
x=[] 
for i in range(1,101): 
	x.append(i**3) 
print(x)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]